/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
}

.slogan {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 30px;
}

.cena {
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-align: right;
}

.zaruka  {
    font-size: 12px;
    font-weight: 400; 
    color: white;
    text-align: right;
}

.nazev {
    font-size: 20;
    font-weight: 500;
}

.logo {
    padding: 30px 30px;
}

.bota {
    position: relative;
    right: 50px;
    top: -20px;
}

.kontejner {
    padding: 70px 70px;
}

.zbozi {
    display: flex;
    width: 670px;
    height: 440px;
    box-shadow: 5px 5px 5px slategrey;
}

.vizual {
    order: 1;
    flex-grow: 1;
    color: #06d7c1;
    background: linear-gradient(#06d7c1, #50cc49);
    border-radius: 20px 0 0 20px;
}

.detaily {
    order: 2;
    flex-grow: 1;
    border-radius: 0 20px 20px 0;
}


/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

